@charset "utf-8";
/* CSS Document */
*{
	
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    
    transition: all .2s linear;
    line-height: 1.5;
}
html{
	font-size:62.5%;
	overflow-x:hidden;
	scroll-behavior:smooth;/*css平滑滚动*/
}
body{
	background:#fcf2e8;
	padding-left:30rem;
}
section{
	padding:1rem 5%;
	min-height:100vh;
}
.heading{
	font-size:4rem;
	padding-bottom:1rem;
	color:#111;
}
header{
    position: fixed;
    top:0; 
    left:0; 
    bottom:0;
	background-color:rgba(212,233,248,0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}
header .navbar a{
    display: block;
    font-size: 2rem;
    color:#FFC;
    margin:2rem 0;
}
header .navbar a:hover{
    letter-spacing: .2rem;
    color:pink;
}
.hi{
	font-size:35px;
	letter-spacing:10;
	color:#CCF;
}
h1{
	font-size:25px;
	color:#FCF;
}
.image img{
	border-radius:100%;
		
}
footer{
	padding:5px;
	height:8%;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align:center;
	background:rgba(204,204,255,0.4);
	margin-top:2%;
}
p{
	font-size:13px;
	letter-spacing:10;
}