@charset "utf-8";
/* CSS Document */
*{
	/*margin:0;
	padding:0;*/
	
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    
    transition: all .2s linear;
    line-height: 1.5;
}
html{
	font-size:70%;
	overflow-x:hidden;
	scroll-behavior:smooth;/*css平滑滚动*/
}
body{
	/*display:flex;
	justify-content:center;
	align-items:center;*/
	/*background:#CCF;*/
	background:url(B.jpg);
	padding-left:30rem;
}

.heading{
	font-size:4rem;
	padding-bottom:1rem;
	color:#111;
}
.container{
	position:relative;
	width:1100px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	padding:30px;
}
.container .card{
	position:relative;
	max-width:300px;
	height:250px;
	background:pink;
	margin:30px 10px;
	padding:20px 15px;
	display:flex;
	flex-direction:colum;
	/*box-shadow:0 5px 202px rgba(0,0,0,0.3);*/
	transition:0.3s ease-in-out;
}
.container .card:hover{
	height:320px;
}
.container .card .imgBx{
	position:relative;
	width:1800px;
	height:260px;
	
	/*top:-60px;
	left:20px;
	z-index:1;
	box-shadow:0 5px 20px rgba(0,0,0,0.2);*/
}
.container .card .imgBx img{
	max-width:100%;
	border-radius:4px;
}
.container .card .content{
	position:relative;
	margin-top:-140px;
	padding:10px 15px;
	text-align:center;
	color:#111;
	visibility:hidden;
	opacity:0;
	transition:0.2s ease-in-out;
}
.container .card:hover .content{
	visibility:visible;
	opacity:1;
	margin-top:-40px;
	transition-delay:0.2s ;
}