@charset "utf-8";
/* CSS Document */
*{
	
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    
    transition: all .2s linear;
    line-height: 1.5;
}
html{
	font-size:62.5%;
	overflow-x:hidden;
	scroll-behavior:smooth;/*css平滑滚动*/
}
body{
	background:#fcf2e8;
	padding-left:30rem;
}
section{
	padding:1rem 5%;
	min-height:100vh;
}
.heading{
	font-size:4rem;
	padding-bottom:1rem;
	color:#111;
}
about .d2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.about .d2 .skills{
    flex:1 1 40rem;
}
.about .d2 .skills .progress{
    padding:1rem 0;
}
.about .d2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#111;
    font-weight: 400;
}
.about .d2 .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}
.about .d2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:#CCF;
    border-radius: 50rem;
}
.about .d2 .skills .progress:nth-child(1) .bar span{
    width:85%;
}
.about .d2 .skills .progress:nth-child(2) .bar span{
    width:25%;
}
.about .d2 .skills .progress:nth-child(3) .bar span{
    width:85%;
}
.about .d2 .skills .progress:nth-child(4) .bar span{
    width:65%;
}
.about .d2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.about .d2 .box-container .box{
    flex:1 1 15rem;
    background:#fff;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.about .d2 .box-container .box h3{
    color:#CCF;
    font-size: 3rem;
}